nav a
{
text-decoration: none;
display:inline-block;
margin : 0px;
padding:5px;
}
nav
{
background-color: #f8f8f8;
}
a:active
{
color:black;
}
.active {
    background-color: #dfdfdf;
}
.logout-link{
text-decoration: none;
display:inline-block;
margin : 0px;
padding:5px;
}
.logout-link:active{
    color:black;
}
.logout-link:hover{
    cursor: pointer;
}